<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h2>Welcome!</h2>
        <form action=".html" th:action th:object="${player}" method="post">
            <div>
                <label for="userName">Name</label>
                <input type="text" id="userName" th:field="*{userName}" class="addNameInput" placeholder="이름을 입력하세요">
            </div>

            <div>
                <div>Sex</div>
                <div th:each="sex : ${sexs}" class="form-check form-check-inline">
                    <input type="radio" th:field="*{userSex}" th:value="${sex.name()}" class="form-check-input">
                    <label th:for="${#ids.prev('userSex')}" th:text="${sex.description}" class="form-check-label">Male</label>
                </div>
            </div>


            <div class="buttonContainer">
                <button type="submit" class="addTodo">일정에 추가하기</button>
                <button th:onclick="|location.href='@{/blackjack/main}'|" type="button" class="return">돌아가기</button>
            </div>
        </form>
    </div>
</body>
</html>