<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Game!</h1>
<div class="gameProcess">
    <h3>game</h3>
    <div class="dealerCardContainer">
        <div class="dealerCard" th:each="card : ${blackJackGameCards}">
            <span class="cardSymbol" th:text="${card.getCardSymbol()}">symbol</span>
            <span class="cardValue" th:text="${card.getCardValue()}">value</span>
        </div>
    </div>
</div>


<button th:onclick="|location.href='@{/blackjack/play/{gameId}/hit(gameId=${blackJackGame.gameId})}'|" type="button" class="return">Hit!</button>
<button th:onclick="|location.href='@{/blackjack/play/{gameId}/stand(gameId=${blackJackGame.gameId})}'|" type="button" class="return">Stand!</button>
</body>
</html>